<div id="fillter-item-active" class="fillter-item-wrap">
    <div class="grid-sizer"></div>
<div class="row">
    <div class="col-md-6">
    <!-- signle item -->
    <div class=" isotop-item  logo">
        <div class="fillter-item bg-prink">
            <a class="img" href="#" data-bs-toggle="modal"
                data-bs-target="#portfolio-1">
                <img src="assets/img/work/work-img-1.png" alt="">
            </a>
            <span class="item-subtitle">Travel Landing , UX/UI </span>
            <h6 class="item-title">
                <a href="#" data-bs-toggle="modal" data-bs-target="#portfolio-1">Chul
                    urina</a>
            </h6>
        </div>
    </div>

    </div>
    <div class="col-md-6">
           <!-- signle item -->
    <div class=" isotop-item logo mockup">
        <div class="fillter-item bg-catkrill ">
            <a class="img" href="#" data-bs-toggle="modal"
                data-bs-target="#portfolio-1">
                <img src="assets/img/work/work-img-3.png" alt="">
            </a>
            <span class="item-subtitle">Travel Landing , UX/UI </span>
            <h6 class="item-title">
                <a href="#" data-bs-toggle="modal"
                    data-bs-target="#portfolio-1">T-Shirt Design</a>
            </h6>
        </div>
    </div>
    </div>
    <div class="col-md-6">
          <!-- signle item -->
    <div class=" isotop-item mockup">
        <div class="fillter-item bg-prink">
            <a class="img" href="#" data-bs-toggle="modal"
                data-bs-target="#portfolio-1">
                <img src="assets/img/work/work-img-4.png" alt="">
            </a>
            <span class="item-subtitle">Travel Landing , UX/UI </span>
            <h6 class="item-title">
                <a href="#" data-bs-toggle="modal"
                    data-bs-target="#portfolio-1">Packaging Box</a>
            </h6>
        </div>
    </div>
    </div>
    <div class="col-md-6">
         <!-- signle item -->
    <div class="isotop-item design logo">
        <div class="fillter-item bg-prink">
            <a class="img" href="#" data-bs-toggle="modal"
                data-bs-target="#portfolio-1">
                <img src="assets/img/work/work-img-5.png" alt="">
            </a>
            <span class="item-subtitle">Travel Landing , UX/UI </span>
            <h6 class="item-title">
                <a href="#" data-bs-toggle="modal"
                    data-bs-target="#portfolio-1">Modern Bag Design</a>
            </h6>
        </div>
    </div>
    </div>
</div>
</div>