
            <nav class="bastami-main-menu main_menu">
                <ul>
                    <li>
                        <a  routerLink="about" routerLinkActive="active">
                            <span>
                                <i class="fa-solid fa-address-card"></i>
                            </span>
                            about
                        </a>
                    </li>
                    <li>
                        <a routerLink="resume" routerLinkActive="active">
                            <span>
                                <i class="fa-solid fa-user-tie"></i>
                            </span>
                            Resume
                        </a>
                    </li>
                    <li>
                        <a routerLink="works" routerLinkActive="active">
                            <span>
                                <i class="fa-solid fa-briefcase"></i>
                            </span>
                            Works
                        </a>
                    </li>
                    <li>
                        <a routerLink="blogs" routerLinkActive="active">
                            <span>
                                <i class="fa-solid fa-newspaper"></i>
                            </span>
                            Blogs
                        </a>
                    </li>
                    <li>
                        <a routerLink="contact" routerLinkActive="active">
                            <span>
                                <i class="fa-solid fa-address-book"></i>
                            </span>
                            contact
                        </a>
                    </li>
                </ul>
            </nav>
 