<div class="page-wrapper home-1" data-background="assets/img/bg/page-bg-1.jpg">

<div class="container z-index-3">
  <div class="row">

    <!-- parsonal-info-start -->
    <div class="col-xxl-3 col-xl-3">
      <div class="bostami-parsonal-info-area">
        <app-sidebar></app-sidebar>
      </div>
    </div>
    <!-- personal-info-end -->
    <div class="col-xxl-8 col-xl-9">
      <div class="bostami-page-content-wrap">
        <router-outlet></router-outlet>
        <!-- footer copyright -->
        <div class="footer-copyright text-center pt-25 pb-25">
          <span>© 20254 All Rights Reserved by <a
              href="https://omargaber.work"
              target="_blank"
              rel="noopener noreferrer">omar gaber</a>.</span>
        </div>

      </div>
    </div>
    <!-- main-menu-start -->
    <div class="col-xxl-1 d-xxl-block d-none">
      <div class="bostami-main-menu-wrap">
        <app-menu></app-menu>
      </div>
    </div>
    <!-- main-menu-end -->
  </div>
</div>
</div>
