            <!-- page title -->
            <div class="section-wrapper pl-60 pr-60 pt-60">
                <div class="bostami-page-title-wrap mb-15">
                    <h2 class="page-title">Portfolio</h2>
                </div>
            </div>


            <div class="section-wrapper pr-60 pl-60 mb-60">
                <div class="row">

                    <div class="col-12">
                        <ul class="fillter-btn-wrap buttonGroup isotop-menu-wrapper mb-30">
                            <li class="fillter-btn"><a routerLink="/works/projects" routerLinkActive="active">Projects</a></li>
                            <li class="fillter-btn"><a routerLink="/works/client" routerLinkActive="active">Clients</a></li>
                        </ul>
                    </div>

                    <div class="col-12">
                        <router-outlet></router-outlet>
                    </div>

                </div>
            </div>
